<div class="row">
  <div class="col d-flex flex-column justify-content-center">    
    <% if user_signed_in? %>
      <%= link_to "Mon profile", user_profile_path(current_user) %>
      <%= link_to "Se deconnecter", destroy_user_session_path(current_user), method: :delete %>
    <% else %>
      <%= link_to 'Se Connecter', new_user_session_path %>
      <%= link_to "S'enregistrer", new_user_registration_path %>
      <%= link_to 'Chercher un User sur codewars', codewars_search_path %>
    <% end %>
  </div>
</div>
