<div class="container">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @parsed_data[:username] %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @parsed_data[:name] %></h6>
      <p class="card-text">Clan :<%= @parsed_data[:clan]%></p>
      <p class="card-text">Honneur :<%= @parsed_data[:honor]%></p>
      <p class="card-text">Position / Classement :<%= @parsed_data[:leaderboardPosition]%></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Combien de Kata crée : <%= @parsed_data[:totalAuthored]%></li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>Combien de Kata accompli : <%= @parsed_data[:totalCompleted]%></span>
            <span><%= link_to 'Retour', codewars_search_path %></span>
          </div>
        </li>
    </ul>
    </div>
  </div>
</div>
