<div class="container">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @response_content['username'] %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @response_content['name'] %></h6>
      <p class="card-text">Clan :<%= @response_content['clan']%></p>
      <p class="card-text">Honneur :<%= @response_content['honor']%></p>
      <p class="card-text">Position / Classement :<%= @response_content['leaderboardPosition']%></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Combien de Kata crée : <%= @response_content['codeChallenges']['totalAuthored']%></li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>Combien de Kata accompli : <%= @response_content['codeChallenges']['totalCompleted']%></span>
            <span><%= link_to 'Retour', root_path %></span>
          </div>
        </li>
    </ul>
    </div>
  </div>
</div>
