<%= form_with model: user_profile do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "Nom de Famille" %>
  </div>
  <div class="field">
    <%= f.label :codewars_nickname %><br />
    <%= f.text_field :codewars_nickname, autocomplete: "Pseudo Code Wars" %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "Ville" %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autocomplete: "Pays" %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth, autocomplete: "Date de naissance" %>
  </div>
  <div class="actions">
    <%= f.submit "Mettre a jour" %>
  </div>
<% end %>
